- content_for :title, "Conversations".html_safe

.content
  .row
    .large-12.columns
      %h1 Conversations

  .row
    .large-12.columns
      - @conversations.each do |conversation|
        - if conversation.messages.last.is_unread_by?(current_user)
          = image_tag(conversation.other_participant(current_user).gravatar_url(default: "identicon"), class: "small-gravatar")
          %em
            = conversation.other_participant(current_user).username
            %br
            = link_to truncate(conversation.messages.last.body, length: 30), user_message_path(current_user, conversation.messages.last)
            %br
            = conversation.messages.last.created_at.strftime("%m/%d/%Y at %I:%M %P")
        - else
          = conversation.other_participant(current_user).username
          = image_tag(conversation.other_participant(current_user).gravatar_url(default: "identicon"), class: "small-gravatar")
          %br
          = link_to truncate(conversation.messages.last.body, length: 30), user_message_path(current_user, conversation.messages.last)
          %br
          = conversation.messages.last.created_at.strftime("%m/%d/%Y at %I:%M %P")
        %hr

    = link_to "New Conversation", new_user_message_path(current_user), class: "small button"
