- content_for :title, "Conversations".html_safe

.content
  .row
    .large-12.columns
      %h1 Conversations

  .row
    .large-12.columns
    %table
      %tbody
        - @conversations.each do |conversation|
          %tr
            %td
              - if conversation.messages.last.is_unread_by?(current_user)
                %em
                  = conversation.other_participant(current_user).username
                  %br
                  = link_to truncate(conversation.messages.last.body, length: 30), message_path(conversation.messages.last)
              - else
                = conversation.other_participant(current_user).username
                %br
                = link_to truncate(conversation.messages.last.body, length: 30), message_path(conversation.messages.last)
            %td
              = conversation.messages.last.created_at.strftime("%m/%d/%Y at %I:%M%p")

    = link_to "New Conversation", new_message_path, class: "small button"
