- content_for :title, "Sign Up"

.content
  .row
    .large-5.columns
      %h1 Resend confirmation instructions

      = form_for(resource, :as => resource_name, :url => user_confirmation_path, :html => { :method => :post }) do |f|
        = devise_error_messages!
        %div
          = f.label :email
          = f.email_field :email, :autofocus => true
        %div= f.submit "Resend confirmation", class: "small button"
