- content_for :title, "Password Reset"

.content
  .row
    .large-5.columns
      %h1 Reset Your Password
      = form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f|
        .field
          = f.label :email
          = @user.email
        .field
          = f.label :password
          = f.password_field :password
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        %div
          = f.submit "Reset password", class: "small button"
