- content_for :title, "Sign Up"

.content
  .row
    .large-5.columns
      %h1 Create a New Account
      = form_for(resource, :as => resource_name, :url => user_registration_path) do |f|
        = devise_error_messages!
        %div
          = f.label :username
          = f.email_field :username
        %div
          = f.label :email
          = f.email_field :email
        %div
          = f.label :password
          = f.password_field :password
        %div
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        %div= f.submit "Create account", class: "small button"
