- content_for :title, "#{@pair_profile.username}'s Pair Profile".html_safe

.content
  .row
    %h1
      = "#{@pair_profile.username}'s Pair Profile"

    .large-7.columns
      %div
        %p
          %strong
            Preferred Languages
          %br
            = @pair_profile.languages.map(&:name).sort.join(", ")
        %p
          %strong
            General Availability
          %br
            = @pair_profile.availability || "Not specified"
        %p
          %strong
            Time Zone
          %br
            = @pair_profile.time_zone || "Not specified"
        %p
          %strong
            Skill Level
          %br
            = @pair_profile.skill_level || "Not specified"
        %p
          %strong
            Special Interests
          %br
            = @pair_profile.special_interests || "Not specified"
        %p
          %strong
            Notes
          %br
            = @pair_profile.notes || "Not specified"

    .large-5.columns

      - if @pair_request && ! @pair_request.rejected?
        .panel
          %p
            You sent
            = @pair_profile.username
            a pairing request on
            = @pair_request.created_at.strftime("%m/%d/%Y.")

      - else @pair_request
        .panel
          %p
            Does this profile look interesting? Take the first step and send them a pair request!
          %div
            = link_to "Send a pair request", new_pair_request_path(recipient_id: @pair_profile.user_id), class: "button small"
