- content_for :title, "Unlock Your Account"

.content
  .row
    .large-5.columns
      %h1 Unlock Your Account

      = form_for(resource, :as => resource_name, :url => user_unlock_path, :html => { :method => :post }) do |f|
        = devise_error_messages!
        %div
          = f.label :email
          = f.email_field :email, :autofocus => true
        %div= f.submit "Send Unlock Instructions", class: "small button"
