- content_for :title, "Create an Account"

.content
  .row
    %h1 Create a New Account
    = form_for(@user, :url => users_path) do |f|
      .large-5.columns
        %div
          = f.label :requested_username
          = f.text_field :requested_username, placeholder: "Required", value: @user.username
        %div
          = f.label :email
          = f.email_field :email, placeholder: "Required"
        %div
          = f.label :password
          = f.password_field :password, placeholder: "Required"
        %div
          = f.label :password_confirmation
          = f.password_field :password_confirmation, placeholder: "Required"
        %div
          = f.label :twitter_handle
          = f.text_field :twitter_handle, placeholder: "Optional"
        %div
          = f.label :github_username
          = f.text_field :github_username, placeholder: "Optional"
        %div
          %label.checkbox{ :for => "subscribe_me" }
            = f.check_box :subscribe_me, :class => "checkbox", value: @user.subscribed
            Subscribe to our mailing list
        %div
          = f.submit "Create Account", class: "small button"

        Already have an account? Please
        = link_to "sign in.", sign_in_path

      .large-5.columns
        %div
          %p
            OS4W.org is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form.
          %p
            Please read our
            = link_to "Code of Conduct", code_of_conduct_path
            before creating your account.
          %label.checkbox{ :for => "accepts_coc" }
            = f.check_box :accepts_coc, :class => "checkbox"
            I agree to abide by the Code of Conduct.
        %div
          %p
            This site is intended to provide a safe, welcoming space for all who consider themselves a gender minority, including women and non-binary people. By checking the box below you indicate that you identify as such.
          %label.checkbox{ :for => "accepts_terms" }
            = f.check_box :accepts_terms, :class => "checkbox"
            I identify as a gender minority in tech.
