- content_for :title, "Your Account"

.content
  .row
    .large-5.columns
      %h1 Manage Your Account
      = form_for(@user, :url => user_path(@user)) do |f|
        %div
          = f.label :username
          = f.text_field :username, placeholder: "Required"
        %div
          = f.label :email
          = f.email_field :email, placeholder: "Required"
        %div
          = f.label :twitter_handle
          = f.text_field :twitter_handle, placeholder: "Optional"
        %div
          = f.label :github_username
          = f.text_field :github_username, placeholder: "Optional"
        %div
          = f.label :password
          = f.password_field :password
        %div
          = f.label :password_confirmation
          = f.password_field :password_confirmation

        %div= f.submit "Update account", class: "small button"
