%p
  Hello!
  = "#{@sender.username} (#{@sender.email})"
  has invited you to join the Open Source for Women community.

%blockquote
  = @invitation.message

%p
  To sign up, visit
  = link_to "https://www.os4w.org/", "https://www.os4w.org/"
  and click the 'Sign Up' link. We hope to see you soon!