%footer.footer-row
  .bottom-bar
    .large-12.columns
      .row
        .large-6.columns
          © 2017
          = succeed "." do
            = link_to "Coraline Ada Ehmke", "http://where.coraline.codes/"
        .large-6.columns
          %ul.inline-list.right
            %li
              = link_to "Code of Conduct", code_of_conduct_path
            %li
              = link_to "Our Github Repo", "https://github.com/coralineada/opensourceforwomen.org"
            %li
              = link_to "Support Us on Patreon", "https://www.patreon.com/coraline"
