%nav.top-bar{data: 'topbar', role: 'navigation'}
  %ul.title-area
    %li.name
      .logo
        = link_to image_tag("/assets/os4w_logo_small.png"), "/"
  %section.top-bar-section
    %ul.right
      - unless current_user
        %li
          = link_to "Sign In", sign_in_path
        %li
          = link_to "Sign Up", sign_up_path
      %li
        = link_to "About OS4W", about_path
      %li
        = link_to "How to Be An Ally", allies_path
      %li
        = link_to "Code of Conduct", code_of_conduct_path
      %li
        = link_to "Contact Us", "/"
      - if current_user
        %li
          = link_to "Preferences", user_path(current_user)
        %li
          = link_to "Sign Out", sign_out_path