- if @unsaved

  %p
    To get updates on our progress and to show your support for this effort, please join our low-frequency mailing list by filling out the form below. You can also follow us on Twitter
    = succeed ". Thanks!" do
      = link_to "@OS4Women", "https://twitter.com/OS4Women"

  = form_for @subscription, :url => subscriptions_path do |f|
    = f.text_field :email, :placeholder => @subscription.message
    = f.submit "Sign Up"

- else

  %p
    Thanks for signing up! Check your email for a message confirming your subscription.
