- content_for :title, "How to Be an Ally"

.content
  .row
    .large-6.columns

      %h1 How to Be an Ally

      %p
        Thank you for your interest in Open Source for Women! As this site is intended to be a women-only space, we're only accepting applications for membership only for those individuals who identify as women. But don't despair! We need allies to make this site-- and the open source world in general-- more welcoming and inclusive.

      %p
        To that end, we have assembled a list of resources that may be helpful to you as an ally.

      %ul

        %li
          Signal that your Open Source project is welcoming and inclusive by adopting a
          = link_to "Code of Conduct.", "http://contributor-covenant.org"

        %li
          You can support Open Source for Women and other outreach efforts by donating to
          = link_to "our founder's Patreon.", "https://www.patreon.com/coraline"

        %li
          = link_to "The Do's and Don'ts of Being a Good Ally", "http://theangryblackwoman.com/2009/10/01/the-dos-and-donts-of-being-a-good-ally/"
          from The Angry Black Woman

        %li
          = link_to "Tools for White Guys who are Working for Social Change", "http://www.xyonline.net/content/tools-white-guys-who-are-working-social-change…-and-other-people-socialized-society-based-do"
          by Chris Crass

        %li
          = mail_to "adria.richards+ally@butyoureagirl.com", "Adria Richards"
          = link_to "(@AdriaRichards)", "https://twitter.com/AdriaRichards"
          offers guidance via mail, Google Hangouts and phone on diversity issues

        %li
          = link_to "Gradient Lair", "http://www.gradientlair.com"
          features writings on misogynoir and other topics for women of color

        %li
          = link_to "How to Be An Ally", "http://andre.arko.net/2013/12/04/how-to-be-an-ally/"
          by André Arko

        %li
          = link_to "So You Want to Be an Ally", "http://juliepagano.com/blog/2014/05/10/so-you-want-to-be-an-ally/"
          by Julie Pagano

        %li
          = link_to "Allies", "http://geekfeminism.wikia.com/wiki/Allies"
          on the Geek Feminism Wiki

        %li
          = link_to "Ally Skills Workshop", "https://adainitiative.org/what-we-do/workshops-and-training/"
          from the Ada Initiative

