#featured-content{data: "orbit"}
  .featured-row
    Only 2% of Open Source contributors are women.
  .featured-row
    With your help, we're going to change that.
  .featured-row
    = link_to "Get Started", "/", class: "boxed-white"
.row

  .large-6.columns
    %p
      Open source is the foundation on which the Internet is built. It's critical to its continued success that we hear from diverse voices and engage people with different experiences, talents, and viewpoints. Otherwise we risk a world of technology created by and supporting a monoculture.

    %p
      Together we can make this happen. This site aims to be a resource for connecting all women of all skill levels to open source projects that are
      = link_to "welcoming, inclusive, and appreciative of diversity", "http://contributor-covenant.org"
      in their contributors.

  .large-6.columns

    %p
      If you have an idea on how to make this site better work for you, please submit an issue to
      = succeed "," do
        = link_to "our Github repository", "https://github.com/coralineada/opensourceforwomen.org/"
      or use our
      = link_to "contact form", "/"
      to send us an email. We also welcome contributions in the form of pull requests.

    %p
      Be sure to follow us on Twitter at
      = succeed "." do
        = link_to "@OS4Women", "https://twitter.com/OS4Women"

