- content_for :title, @project.name

.content
  .row
    .large-6.columns
      %h1 Project Details
      %p.back-navigation
        &laquo;
        = link_to "Back to Projects", :back
  .row
    .large-6.columns
      %ul.pricing-table
        %li.title
          = "#{@project.full_name || @project.name}"
        - if @project.description
          %li.bullet-item
            = @project.description
        %li.bullet-item
          Language:
          = @project.language
        %li.bullet-item
          - if @project.has_coc?
            This project has a code of conduct.
          - else
            This project does not have a code of conduct.
        %li.bullet-item
          Created:
          = @project.details[:created_at] && @project.details[:created_at].strftime("%m/%d/%Y") || "-"
        %li.bullet-item
          Last activity:
          = @project.details[:last_activity] && @project.details[:last_activity].strftime("%m/%d/%Y") || "-"
        %li.bullet-item
          Open issues:
          = @project.details[:open_issues_count]
        %li.bullet-item
          = link_to @project.repo_url, @project.repo_url, target: "_new"

      %h3
        Comments
      - @comments.each do |comment|
        %p
          = comment.comment
          %span.faint
            = "#{comment.user.username} (#{comment.created_at.strftime("%m/%d/%Y")})"
        %hr
      = form_tag "/project_comments" do
        = hidden_field_tag :project_id, @project.id
        = text_area_tag "comment"
        = submit_tag "Leave Comment", class: "button small"
    .large-6.columns
      - if @project.bookmarking_users.any?
        %p
          Bookmarked by
          = pluralize(@project.bookmarking_users.count, "person")
        %ul
          - @project.bookmarking_users.each do |user|
            - next unless user.extended_profile
            %li
              = link_to user.formatted_username, extended_profile_path(user.extended_profile)
      - if @current_user.projects.include? @project
        = form_tag "/bookmarks" do
          = hidden_field_tag :project_id, @project.id
          = hidden_field_tag :remove, true
          = submit_tag "Remove Bookmark", class: "button small"
      - else
        = form_tag "/bookmarks" do
          = hidden_field_tag :project_id, @project.id
          = submit_tag "Save to Bookmarks", class: "button small"
