- content_for :title, "#{current_user.formatted_username}'s Dashboard".html_safe

.content
  .row
    .large-12.columns
      %h1= "#{current_user.formatted_username}'s Dashboard"

  .row

    .large-6.columns

      %h3
        Messages
      - if @dashboard.unread_messages.any?
        %p
          You have #{pluralize(@dashboard.unread_messages.count, "unread message")}.
          = link_to "View your inbox", messages_path
      - else
        %p
          You have no unread messages.
          = link_to "View your inbox", messages_path

      %h3
        Bookmarked Projects
      - if @dashboard.projects.any?
        %ul.tight_spacing
          - @dashboard.projects.each do |project|
            %li
              = link_to project.name, project_path(project)
      - else
        %p
          You haven't bookmarked any projects yet.

      %h3
        Pair Partners
      - if @dashboard.pair_partners.any?
        %ul.tight_spacing
        - @dashboard.pair_partners.each do |partner|
          %l1
            = link_to partner.formatted_username, user_path(partner)
      - else
        %p
          You don't have any pair partners yet. Why not
          = link_to "find one now?", pair_profiles_path

      %h3
        Mentoring
      - if @dashboard.pair_partners.any?
        %ul.tight_spacing
        - @dashboard.pair_partners.each do |partner|
          %l1
            = link_to partner.formatted_username, user_path(partner)
      - else
        %p
          You don't have any mentors or mentees yet. Why not
          = link_to "find one now?", pair_profiles_path


    .large-6.columns

      .panel
        %ul
          %li
            = link_to "Open Source Projects", projects_path
            %p
              Look for a curated open source project, or submit a new one for other members to check out.
          %li
            = link_to "Pair Programming", pair_profiles_path
            %p
              Manage your pair profile and connect with other women who want to pair program on an open source project.

          %li
            = link_to "Mentoring", "#"
            %p
              Sign up to be a mentor, or find a mentor to work with you.

          %li
            = link_to "Slack", "#"
            %p
              Sign up to join our Slack community.

