- content_for :title, "#{current_user.formatted_username}'s Dashboard".html_safe

.content
  .row
    .large-12.columns
      %h1= "#{current_user.formatted_username}'s Dashboard"

  .row

    .large-6.columns

      %h3
        Messages
      - if @dashboard.unread_messages.any?
        %p
          You have #{pluralize(@dashboard.unread_messages.count, "unread message")}.
          = link_to "View your inbox", messages_path
      - else
        %p
          You have no unread messages.
          = link_to "View your inbox", user_messages_path(current_user)

      %h3
        Bookmarked Projects
      - if @dashboard.projects.any?
        %ul.tight_spacing
          - @dashboard.projects.each do |project|
            %li
              = link_to project.name, project_path(project)
      - else
        %p
          You haven't bookmarked any projects yet.

    .large-6.columns

      .panel
        %ul
          %li
            - if current_user.extended_profile
              = link_to "My Profile", extended_profile_path(current_user.extended_profile)
            - else
              = link_to "My Profile", new_extended_profile_path
            %p
              Keep your profile up-to-date with your skills and interest areas.
          %li
            = link_to "Open Source Projects", projects_path
            %p
              Look for a curated open source project, or submit a new one for other members to check out.
          %li
            = link_to "Pair Programming", "/pair_partners"
            %p
              Connect with other women who want to pair program on an open source project.
          %li
            = link_to "Mentoring", "/mentors"
            %p
              Find a mentor to work with you.
          %li
            = link_to "Invite a Friend", new_invitation_path
          %li
            = link_to "Report Abuse", new_abuse_report_path
