- content_for :title, "#{current_user.formatted_username}'s Dashboard".html_safe

.content
  .row
    .large-12.columns
      %h1
        - if current_user.avatar.present?
          = image_tag(current_user.avatar, alt_name: current_user.formatted_username, class: "small-gravatar")
        - else
          = image_tag(current_user.gravatar_url(default: "identicon"), class: "small-gravatar")
        = "#{current_user.formatted_username}'s Dashboard"

  - if @featured_project
    .row
      .large-12.columns
        %ul.pricing-table
          %li.title
            Featured Project:
            = @featured_project.name
          %li.bullet-item.left-align
            %p
              = @featured_project.description
            %p
              The project's primary language is
              = succeed '.' do
                = @featured_project.language
              More information is available at
              = succeed '.' do
                = link_to @featured_project.url, @featured_project.url, target: "_new"
              To get involved with this project,
              = succeed '.' do
                = link_to "contact #{@featured_project.user.username}", new_user_message_path(current_user, recipient_id: @featured_project.user_id)

  .row
    .large-6.columns

      %h3
        Messages
      - if @dashboard.unread_messages.any?
        %p
          You have #{pluralize(@dashboard.unread_messages.count, "unread message")}.
          = link_to "View your inbox.", user_messages_path(current_user)
      - else
        %p
          You have no unread messages.
          = link_to "View your inbox.", user_messages_path(current_user)

      %h3
        Bookmarked Projects
      - if @dashboard.projects.any?
        %ul.tight_spacing
          - @dashboard.projects.each do |project|
            %li
              = link_to project.name, project_path(project)
      - else
        %p
          You haven't bookmarked any projects yet.

    .large-6.columns

      .panel
        %ul
          %li
            - if current_user.extended_profile
              = link_to "My Profile", extended_profile_path(current_user.extended_profile)
            - else
              = link_to "My Profile", new_extended_profile_path
            %p
              Keep your profile up-to-date with your skills and interest areas.
          %li
            = link_to "Open Source Projects", projects_path
            %p
              Look for a curated open source project, or submit a new one for other members to check out.
          %li
            = link_to "Pair Programming", "/pair_partners"
            %p
              Connect with other women who want to pair program on an open source project.
          %li
            = link_to "Mentoring", "/mentors"
            %p
              Find a mentor to work with you.
          %li
            = link_to "Invite a Friend", new_invitation_path
          %li
            = link_to "Report Abuse", new_abuse_report_path
