- content_for :title, "Send a Pair Request"

.content
  .row
    %h1 Send a Pair Request
    = form_for(@pair_request, :url => pair_requests_path) do |f|
      .large-5.columns
        %div
          = f.label :pair_with
          = f.text_field :recipient_username, value: @recipient.username, disabled: true
          = f.hidden_field :recipient_id, value: @recipient.id
        %div
          = f.label :message
          = f.text_area :message, placeholder: "Introduce yourself!"
        %div
          = f.submit "Send a Request", class: "small button"
