!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      OpenSourceForWomen.org
      = content_for?(:title) ? " | #{yield(:title)}" : ''
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %h1
      Open
      %span.contrast
        Source
      %br
      For Women

    .content
      = yield

    %footer
      &copy; 2014
      = link_to 'Coraline Ada Ehmke', 'http://bantik.github.com'
      &bull;
      = link_to 'Contribute to this project on Github', 'https://github.com/Bantik/opensourceforwomen.org'
      &bull;
      = link_to 'GitTips appreciated!', 'https://www.gittip.com/Bantik/'

    = javascript_include_tag "application"
